@model SuperFlexiUI.Models.WidgetModel

<div class="social-links" id="module@(Model.Module.Id)" data-contentsection="@Model.Config.ModuleFriendlyName">
	@Html.Partial("_ModuleTitle")

	@if (Model.Config.UseHeader && !string.IsNullOrWhiteSpace(Model.Config.HeaderContent))
	{
		<div class="social-links__header">@Html.Raw(@Model.Config.HeaderContent)</div>
	}

	<ul class="social-links__items" id="social-links-@(Model.Module.Id)">
		@foreach (var item in Model.Items)
		{
			<li class="social-links__item">
				<a class=" fa fa-@item.mediatype" href="@item.url" title="@item.title"></a>

				@if (item.IsEditable)
				{
					<a class="social-links__edit-link ModuleEditLink flexi-item-edit" href="@item.EditUrl">
						<span class="fa fa-edit"></span>
						<span class="visually-hidden">@item.title</span>
					</a>
				}
			</li>
		}
	</ul>

	@if (Model.Config.UseFooter && !string.IsNullOrWhiteSpace(Model.Config.FooterContent))
	{
		<div class="social-links__footer">@Html.Raw(@Model.Config.HeaderContent)</div>
	}

	@if (Model.Module.IsEditable && Model.Config.Debug)
	{
		<a href="#modelinfo@(Model.Module.Id)" data-toggle="collapse">show/hide model info</a>
		<div class="collapse" id="modelinfo@(Model.Module.Id)">@ObjectInfo.Print(Model)</div>
	}
</div>
