
@Model  dynamic
<a href="#modelinfo" data-toggle="collapse">show/hide model info</a>
<div class="collapse" id="modelinfo">@ObjectInfo.Print(Model)</div>

<div class="icon-panel-items">
    <div class="row fb-parent fb-row fb-wrap fb-stretch fb-center">
        @foreach (var item in Model.Items)
        {
            @item.name;
            @*<div class="col-sm-6 col-md-4 fb-parent fb-child fb-grow fb-shrink fb-sm-50 fb-md-33">
                <div class="panel fb-child fb-grow fb-shrink fb-parent fb-j-between fb-column panel-@Html.Raw((string)item.color)">
                    <div class="panel-heading fb-child fb-shrink">
                        <h2 class="panel-title">@Html.Raw((string)item.title) <a class='flexi-item-edit modulelinks' href='@item.EditUrl'><span class='fa fa-pencil'></span> Edit Icon Panel</a></h2>
                    </div>

                    <div class="panel-body fb-child fb-grow fb-shrink">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <svg class="bs-panel-icon"><use xlink:href="#@Html.Raw((string)item.icon)" /></svg>
                            </div>
                            <div class="col-md-9">
                                @Html.Raw((string)item.description)
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer fb-child fb-shrink text-right">
                        <a href="@Html.Raw((string)item.url)" class="btn btn-@Html.Raw((string)item.color)">View Demo</a>
                    </div>
                </div>
            </div>*@
        }
    </div>
</div>
