@using mojoPortal.Web;
@using mojoPortal.Business.WebHelpers;
@using mojoPortal.Features.UI.BetterImageGallery;

@model BIGModel

@{
	var siteRoot = SiteUtils.GetNavigationSiteRoot();
	var siteSettings = CacheHelper.GetCurrentSiteSettings();
	var siteFolderName = String.IsNullOrWhiteSpace(siteSettings.SiteFolderName) ? "" : siteSettings.SiteFolderName + "/";
	var id = "big-" + Guid.NewGuid();
}

<div class="big__folders">
@foreach (var folder in Model.Folders)
{
	<div class="big__folder"><a href="@folder.Path">@folder.Name</a></div>
}
</div>

<div class="big__thumbnails row" id="@id">
@foreach (var image in Model.Images)
{
	<div class="big__thumbnail col-sm-3 col-md-2"><a class="thumbnail" href="@image.ImageUrl" title="@Path.GetFileNameWithoutExtension(image.Title)"><img src="@image.ImageThumbUrl" alt="@image.Title" /></a></div>
}
</div>


<link rel="stylesheet" href="@Url.Content("~")@(siteFolderName)BetterImageGallery/blueimp-gallery/css/blueimp-gallery.min.css">

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
	<div class="slides"></div>
	<h3 class="title"></h3>
	<a class="prev">‹</a>
	<a class="next">›</a>
	<a class="close">×</a>
	<a class="play-pause"></a>
	<ol class="indicator"></ol>
</div>

<script src="@Url.Content("~")@(siteFolderName)BetterImageGallery/blueimp-gallery/js/blueimp-gallery.min.js"></script>
<script>
	document.getElementById('@id').onclick = function (event) {
		event = event || window.event;
		var target = event.target || event.srcElement,
			link = target.src ? target.parentNode : target,
			options = {
				index: link,
				event: event
			},
			links = this.getElementsByTagName('a');
		blueimp.Gallery(links, options);
	};
</script>